<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar Produto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="content-wrapper">
    <h2>✏️ Editar Produto</h2>

    <form method="POST" class="grid-form">
        <input type="text" name="produto" value="{{ item[1] }}" required>
        <input type="text" name="categoria" value="{{ item[2] }}">
        <input type="number" name="quantidade" value="{{ item[3] }}" required>
        <input type="number" name="minimo" value="{{ item[4] }}" required>

        <button type="submit" class="btn-primary">Salvar</button>
    </form>

    <br>
    <a href="{{ url_for('estoque') }}">⬅ Voltar</a>
</div>

</body>
</html>
