<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Histórico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="content-wrapper">
    <h2>📉 Histórico de Movimentação</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Quantidade</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            {% for h in historico %}
            <tr>
                <td>
                    {% if h[0] == 'entrada' %}
                        <span class="badge badge-green">Entrada</span>
                    {% elif h[0] == 'saida' %}
                        <span class="badge badge-red">Saída</span>
                    {% else %}
                        <span class="badge badge-blue">Ajuste</span>
                    {% endif %}
                </td>
                <td>{{ h[1] }}</td>
                <td>{{ h[2].strftime('%d/%m/%Y %H:%M') }}</td>
            </tr>
            {% endfor %}
        </tbody>
</table>


    <br>
    <a href="{{ url_for('estoque') }}">⬅ Voltar</a>
</div>

</body>
</html>
