<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Histórico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="content-wrapper">
    <h2>📉 Histórico de Movimentação</h2>

    <table class="styled-table">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Quantidade</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            {% for h in historico %}
            <tr>
                <td>{{ h[1] }}</td>
                <td>{{ h[2] }}</td>
                <td>{{ h[2].strftime('%d/%m/%Y %H:%M') }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    <a href="{{ url_for('estoque') }}">⬅ Voltar</a>
</div>

</body>
</html>
